body{
    background-color: gainsboro;
}

.countries {
  background-color:white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: black;
  cursor: pointer;
  margin-bottom: 35px;
  display: flex;
  margin: 0 auto;
}



.app-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; 
  gap: 5px;
  list-style: disc;
}

.app-cname {
  font-size: 25px;
  margin-bottom: 21px;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
}

.app-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 100%;
}

.app-cinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 18px;
}

.app-subtitle-info {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #404040;
}

.app-clanguages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.clanguages-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #404040;
}

.app-cimage img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

